<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./log/lazer-gui.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./../log/lazer-gui.%d{yyyy-MM-dd}.log</fileNamePattern>
            <totalSizeCap>1mb</totalSizeCap>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="standardOut" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{ISO8601}]-[%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <!--<priority value="OFF"/>-->
        <appender-ref ref="file"/>
        <appender-ref ref="standardOut"/>
    </root>

</configuration>