/**
 * roundbutton.css: place in same directory as RoundButton.java and
 *                  ensure the build system copies it to the same directory as RoundButton.class
 */
.root {
  -fx-padding: 10;
}

.closebutton .button {
  -fx-background-color: white, white;
  -fx-background-radius: 16.4, 15;
  -fx-background-insets: -1.4, 0;
  -fx-border-radius: 15;
  -fx-border-width: 2;
  -fx-padding: 0;
  -fx-font-size: 0;
}

.closebutton .button:focused {
  -fx-background-color: -fx-focus-color, white;
}

.closebutton .closetext {
  -fx-font-size: 20;
  -fx-translate-y: -1;
}

.closebutton .closeicon {
  /*-fill: #57d7f7;*/
  -fx-color: yellow;
  -fx-stroke-width: 0.08466667;
  -fx-stroke-width: 2;
}

.closebutton: hover {
  /*-fx-effect: innershadow(gaussian, blue, 15, 0, 0, 0);*/
}