<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./log/gui-test.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./../log/gui-test.%d{yyyy-MM-dd}.log</fileNamePattern>
            <totalSizeCap>10Mb</totalSizeCap>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="standardOut" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{ISO8601}]-[%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <root>
        <priority value="INFO"/>
        <appender-ref ref="standardOut"/>
        <appender-ref ref="file"/>
    </root>


</configuration>