/**
 * roundbutton.css: place in same directory as RoundButton.java and
 *                  ensure the build system copies it to the same directory as RoundButton.class
 */
.root {
  -fx-padding: 10;
}

.closebutton .button {
  -fx-background-color: transparent;
  -fx-padding: 0;
  -fx-font-size: 0;
}

.closebutton .button:focused {
  -fx-background-color: transparent;
}

.closebutton .closetext {
  -fx-background-color: transparent;
  -fx-font-size: 20;
  -fx-translate-y: -1;
}

.closebutton .closeicon {
  /*-fill: #57d7f7;*/
  -fx-background-color: transparent;
  -fx-color: yellow;
  -fx-stroke-width: 0.08466667;
  -fx-stroke-width: 2;
}

.closebutton: hover {
  /*-fx-effect: innershadow(gaussian, blue, 15, 0, 0, 0);*/
}